


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100vw;

  background: radial-gradient(circle, #dcdcdc 0%, #a58686 80%);
  background-size: 100% 100%;

    touch-action: none;
  overscroll-behavior: none;
}


body.front-mode {
  padding-top: 0;
  background: transparent;
}

body.front-mode {
  overflow: hidden;
  height: 100vh;
  overscroll-behavior: none;
  touch-action: none; 
}

#root {
  width: 100%;
}


body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; 
  overflow-x: hidden; 
}



  .main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: visible; 
  gap: 2rem;
  padding: 1rem;
}


.sidebar {
  width: 400px;
  height: 90vh; 
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0; 
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
  border: solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar > * {
  flex-shrink: 1;
  min-height: 0;
}
/* ----------- */

.profile-content {
  flex-grow: 1;
}


.sidebar .recommendation-grid,
.sidebar .x-buttons-grid {
  margin-bottom: 2rem;
}

.incomplete-profile-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 300px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.incomplete-profile-container h2 {
  font-size: 1.8rem; 
  margin-bottom: 10px; 
}

.incomplete-profile-container p {
  font-size: 1rem;
  color: #555; 
}

.incomplete-profile-container {
  animation: fadeInOut 5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}

  














