.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;

  touch-action: none;
  overscroll-behavior: none;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  position: relative;
  animation: scaleUp 0.3s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-form input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.register-form button {
  padding: 0.8rem;
  border: none;
  background: orange;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

.error-text {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.authentication-modal-header{
  padding-bottom: 15px;
}